<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>StartingWithSpringMVC</display-name>
  
  
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  
  <filter>
    <filter-name>filterCartLogin</filter-name>
    <filter-class>com.bitwise.onlineShoppingCart.filterCartLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterCartLogin</filter-name>
    <url-pattern>/placeOrder</url-pattern>
    <url-pattern>/RemoveSelectedProduct</url-pattern>
    <url-pattern>/showMyCart</url-pattern>
  </filter-mapping>

  
</web-app>